* {
    padding: 0px;
    margin: 0px;
}

.imagen-principal {
    width: 100vw;
}

.galeria {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

.imagen-galeria {
    width: 300px;
}

.imagen-galeria:hover {
    opacity: 0.3;
    cursor: pointer;
}